*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: 93.5vh;
}

#informacoes-evento{
    flex: 1.4;
    padding: 2rem 4rem; /*aumenta o espaçamento lateral entre o conteúdo e a página*/
}

#principal{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 1rem;
}

#principal img{
    height: 50px;
    margin-right: 0.6rem;
}

#principal h2{
    font-size: 2.4rem;
    max-width: 500px;
    margin-bottom: 1rem;
}
#exclusivo{
    /*transforma o texto em maíusculo e deixa azul*/
    color: #0075ff;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#data{
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
       
}

#descricao{
    max-width: 500px;
    margin-top: 1rem;
    line-height: 1.4rem;
    margin-bottom:0.5rem;
}
#palestrantes{
    /*coloca as imagens uma ao lado da outra*/
    display: flex;
    flex-wrap: wrap;
    
    
}

#informacoes-evento h4{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.cards-palestrantes{
    /*cada card tem 180px (com quadrado e img dentro)*/
    border: 2px solid #ccc;
    margin: 0.3rem;
    padding: 0.3rem;
    width: 180px;
    text-align: center;
}
.cards-palestrantes img{
    /*cada img tem 120px e é arredondada*/
    margin-bottom: 1rem;
    width: 120px;
    border-radius: 50%;    
}

/*estiliza nome do palestrante*/
.cards-palestrantes .nome{
    font-weight: bold;
    margin-bottom: 0.6rem;
}

/*estiliza funcao do palestrante*/
.cards-palestrantes .funcao{
    font-size: 0.9rem;
    color: gray;
}


footer{
    text-align: center;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}


#formulario-cadastro{
    flex: 1;
    background-image: url("imagens/pattern.png");
    background-size: cover;
    color: white;
}

#interior-formulario{
    margin: 3rem;
    padding: 3rem;
    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#interior-formulario h3{
    font-size: 2rem;
    margin-bottom: 1rem;

}

#interior-formulario p{
    margin-bottom: 1rem;
    
}

#registro-formulario{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    
}

#nome-cadastrado{
    display: flex;
    gap: 0.3rem;
}

#registro-formulario input{
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 3px;
}

#email{
    min-width: 100%;
}

#registro-formulario input[type="submit"]{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#registro-formulario input[type="submit"]:hover{
    background-color: snow;
    color: #0075ff;
    border: 2px solid #0075ff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#beneficios{
    text-align: left;
    align-items: start;
    line-height: 1.6rem;
}

#beneficios h4{
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;

}

#beneficios ul{
    list-style-position: inside;
}